version: "3.8"
services:
  app:
    image: "tailucas/pocket-lint"
    build: .
    restart: unless-stopped
    logging:
      driver: syslog
    tmpfs:
    - /tmp
    hostname: __DOCKER_HOSTNAME__
    volumes:
      - ./data:/data
      - /dev/log:/dev/log
    ports:
      - "4040:4040"
    environment:
      FLASK_ENV: development
